.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  padding: 10px;
}
.icon {
  width: 28px;
  height: 28px;
}

.pagination-btn {
  background-color: black;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 440px) {
  .pagination {
    margin-bottom: 0px;
  }
}
